.brands {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.brands__container {
  display: flex;
  justify-content: flex-start;

  @media (min-width: 1024px) {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    padding-inline: 1rem;
  }
}
.brands__slide {
  flex: 0 0 85%;
  min-width: 0;
  @media (min-width: 1024px) {
    flex: none;
  }
}
