.tipbar {
  overflow: hidden;
}
.tipbar__container {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;

  @media (min-width: 1024px) {
    justify-content: center;
    gap: 1rem;
    padding-inline: 1rem;
  }
}
.tipbar__slide {
  flex: 0 0 85%;
  min-width: 0;
  @media (min-width: 1024px) {
    flex: none;
  }
}
